<div class="container">
  <section class="section">
    <div class="content">
      <div class="intro-text">Hi, my name is</div>
      <div class="name">ANKUSH SONAR</div>
      <div class="title"><span class="typed-text">{{currentText}}</span><span class="cursor">|</span></div>
      <div class="cta">
        <a href="#contact" class="btn"><i class="fab fa-linkedin" style="color:#64ffda;  margin-right:10px; align-content: center;"></i>Linkedin</a>
        <a href="#contact" class="btn"><i class="fa-solid fa-download" style="color:#64ffda;  margin-right:10px; align-content: center;"></i>Resume</a>
      </div>
    </div>
  </section>
</div>