<div class="container">
  <section class="section">
    <div class="content">
      <div class="intro-text">Hi, I'm </div>
      <div class="name">ANKUSH SONAR</div>
      <div class="title"><span class="typed-text">{{currentText}}</span><span class="cursor">|</span></div>
      <div class="cta">
        <a href="#contact" class="btn" (click)="goToWebsite('https://www.linkedin.com/in/ankush-sonar-15b4ba205/')"><i class="fab fa-linkedin" style="color:#bb86fc;  margin-right:10px; align-content: center;"></i>Linkedin</a>
        <a href="#contact" class="btn" (click)="downloadMyFile()"><i class="fa-solid fa-download" style="color:#bb86fc;  margin-right:10px; align-content: center;"></i>Resume</a>
      </div>
    </div>
  </section>
</div>