.header {
  background-color: #000000;
  color: #fff;
  border: 20px solid #000000;
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.underline {
  max-width: 1200px;
  margin: 0, 12px, 0, 12px;
  height: 2px;
  background-color: #ff6347;
}

.tabs ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.tabs li {
  margin: 0 auto;
  cursor: pointer;
  flex-shrink: 1;
  flex-direction: row;
}

.tabs a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease;
}

.tabs a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ff6347;
  /* Hover color */
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.tabs a:hover {
  color: #ff6347;
  /* Hover color */
}

.tabs a:hover::after {
  width: 100%;
}

.tabs a.active {
  color: #ff6347;
  /* Hover color */
  
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  // transform: translateX(-30%);
  transition: all 1s ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  // transform: translateX(0);
}

////////////////////////////////////////////////////SECTION 2//////////////////////////////////////////////


.titlecontainer {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  // margin-top: 50px;
  background-color: #ffffff00;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // text-align: center;
  padding-top: 12%;
  padding-left: 10%;
  padding-bottom: 10%;
}

.animated-title {
  font-size: 2.5rem;
  color: #efe7e7;
  animation: fadeIn 2s ease-in-out;

}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.titlecontent {
  margin-top: 80px;
  animation: fadeIn 3s ease-in-out;
}

.tilecontent p {
  font-size: 1.2rem;
  color: #f9f5f5;
  line-height: 1.6;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .titlecontainer {
    width: 90%;
  }

  .animated-title {
    font-size: 2rem;
  }

  .titlecontent p {
    font-size: 1rem;
  }

}

@media (max-width: 480px) {
  .titlecontainer {
    width: 95%;
  }

  .animated-title {
    font-size: 1.1rem;
  }

  .titlecontent p {
    font-size: 0.6rem;
  }
}

////////////////////////////////////////////////////SECTION 2//////////////////////////////////////////////
#typing-animation {
  position: relative;
  // font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white;
  /* Cursor */
  animation: typing 3s steps(40, end), blink-cursor 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-cursor {

  from,
  to {
    border-color: transparent;
    /* Hide cursor */
  }

  50% {
    border-color: rgba(255, 255, 255, 0);
    /* Show cursor */
  }
}

////////////////////////////////////////////////////SECTION 2//////////////////////////////////////////////
.title {
  max-width: 1200px;
}


.section {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #1a1a1a;
  color: #fff;
  // border-bottom: 1px solid #333;
}

.section2 {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
  padding-top: 90px;
  padding-bottom: 150px;
  font-size: 24px;
  background-color: #1a1a1a;
  color: #fff;
  // border-bottom: 1px solid #333;

}


.section3 {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 200px;
}

.section4 {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
  font-size: 24px;
  background-color: #1a1a1a;
  color: #fff;
  // border-bottom: 1px solid #333;
  padding-bottom: 50px;
}

/* Reset some default styles */
/* Make the container responsive */
.container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  max-width: 700px;
  /* Adjust as needed */
  margin-top: -20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5),
    0 0 0 2px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 0.1) inset;
  margin-left: 12px;
  margin-right: 12px;
}

/* Style the image section */
.image-section {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  align-content: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* Optional: Adds rounded corners */
}

/* Style the about section */
.about-section {
  width: 100%;
  text-align: left;
  margin-top: 20px;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ff6347;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.5;
  color: #bcbcbc;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-section {
    flex: 1;
    margin-right: 20px;
    margin-top: 12%;
  }

  .about-section {
    flex: 2;
    text-align: left;
    margin-top: 0;
  }
}

////////////////////////////////////////////////////SECTION 2//////////////////////////////////////////////

.about-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #ffffff;
  // min-width: 250px;
  // max-width: 45%;
  max-width: 400px;
  margin-top: -20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #efe7e70e;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 20px;
  font-size: 1rem;
}

.about-container-form{
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #ffffff;
  // min-width: 250px;
  // max-width: 45%;
  max-width: 400px;
  margin-top: -20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #efe7e700;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 20px;
  font-size: 1rem;
}


.about-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1730px;
  text-align: center;
}

.about-container3 {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  width: 100%;
  max-width: 1730px;
  margin-top: -20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #efe7e716;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 20px;
  font-size: 1rem;
  // box-shadow: 0 0 5px 0;
  // backdrop-filter: blur(4px);
}

.about-container4 {
  display: flex;
  flex-direction: column;
  display: inline-block;
  max-width: 100%;
  background: rgba(255, 255, 255, 0); /* Semi-transparent white background */
  backdrop-filter: blur(2px)
}

.horizontal-line {
  width: 100%; /* Full width */
  height: 3px; /* Thickness of the line */
  background-color: #ff6347; /* Color of the line */
  margin:-23px 39px;  /* Space above and below the line */
  transition: width 0.3s ease;
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    align-items: flex-start;
    // min-width: 350px;
    max-width: 40%;
  }

  .about-container-form{
    flex-direction: row;
    align-items: flex-start;
    // min-width: 350px;
    max-width: 40%;
  }

  .about-container3 {
    max-width: 40%;
    flex-direction: row;
  }

  .about-section {
    flex: 1;
    text-align: left;
    margin-top: 0;
  }

}

.d-flex {
  display: flex;
}

.ul {
  list-style: none;
}

.progress {
  height: 100%;
  background-color: #ff6347;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.progress-bar {
  width: 100%;
  height: 12px;
  background-color: #000000;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

////////////////////////////////////////////////////SECTION 2//////////////////////////////////////////////
.section3-ani::backdrop {
  content: "";
  inset: 0;
  z-index: 1;
  background-image: radial-gradient(ellipse 1.5px 2px at 1.5px 50%,
      #0000 0,
      #0000 90%,
      #000 100%);
  background-size: 25px 8px;
}

.section3-ani {
  // position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // justify-items: center;
  text-align: left;
  // margin-bottom: -200px;
  padding-top: 40px;
  padding-bottom: 40px;
  --c: #ff3c0075;
  background-color: #000;
  background-image: radial-gradient(4px 100px at 0px 235px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 235px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 117.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 252px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 252px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 126px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 150px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 150px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 75px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 253px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 253px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 126.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 204px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 204px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 102px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 134px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 134px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 67px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 179px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 179px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 89.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 299px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 299px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 149.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 215px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 215px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 107.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 281px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 281px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 140.5px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 158px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 158px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 79px, var(--c) 100%, #0000 150%),
    radial-gradient(4px 100px at 0px 210px, var(--c), #0000),
    radial-gradient(4px 100px at 300px 210px, var(--c), #0000),
    radial-gradient(1.5px 1.5px at 150px 105px, var(--c) 100%, #0000 150%);
  background-size:
    300px 235px,
    300px 235px,
    300px 235px,
    300px 252px,
    300px 252px,
    300px 252px,
    300px 150px,
    300px 150px,
    300px 150px,
    300px 253px,
    300px 253px,
    300px 253px,
    300px 204px,
    300px 204px,
    300px 204px,
    300px 134px,
    300px 134px,
    300px 134px,
    300px 179px,
    300px 179px,
    300px 179px,
    300px 299px,
    300px 299px,
    300px 299px,
    300px 215px,
    300px 215px,
    300px 215px,
    300px 281px,
    300px 281px,
    300px 281px,
    300px 158px,
    300px 158px,
    300px 158px,
    300px 210px,
    300px 210px,
    300px 210px;
  animation: hi 150s linear infinite;
}

@keyframes hi {
  0% {
    background-position:
      0px 220px,
      3px 220px,
      151.5px 337.5px,
      25px 24px,
      28px 24px,
      176.5px 150px,
      50px 16px,
      53px 16px,
      201.5px 91px,
      75px 224px,
      78px 224px,
      226.5px 350.5px,
      100px 19px,
      103px 19px,
      251.5px 121px,
      125px 120px,
      128px 120px,
      276.5px 187px,
      150px 31px,
      153px 31px,
      301.5px 120.5px,
      175px 235px,
      178px 235px,
      326.5px 384.5px,
      200px 121px,
      203px 121px,
      351.5px 228.5px,
      225px 224px,
      228px 224px,
      376.5px 364.5px,
      250px 26px,
      253px 26px,
      401.5px 105px,
      275px 75px,
      278px 75px,
      426.5px 180px;
  }

  to {
    background-position:
      0px 6800px,
      3px 6800px,
      151.5px 6917.5px,
      25px 13632px,
      28px 13632px,
      176.5px 13758px,
      50px 5416px,
      53px 5416px,
      201.5px 5491px,
      75px 17175px,
      78px 17175px,
      226.5px 17301.5px,
      100px 5119px,
      103px 5119px,
      251.5px 5221px,
      125px 8428px,
      128px 8428px,
      276.5px 8495px,
      150px 9876px,
      153px 9876px,
      301.5px 9965.5px,
      175px 13391px,
      178px 13391px,
      326.5px 13540.5px,
      200px 14741px,
      203px 14741px,
      351.5px 14848.5px,
      225px 18770px,
      228px 18770px,
      376.5px 18910.5px,
      250px 5082px,
      253px 5082px,
      401.5px 5161px,
      275px 6375px,
      278px 6375px,
      426.5px 6480px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Roboto');


.container-card {
  width: 30%;
  padding: 2px 16px;
  display: flex;
  flex: wrap;
  align-items: center;
  // justify-content: center;
}

.card {
  transition: .75s;
  margin-left: 18px;
  margin-top: 12px;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
  float: left;
  width: 90%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.adve {
  width: 100%;
  height: auto;
  border-bottom: 6px solid #ff6347;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-transition: opacity 0.7s;
}

.card:hover {
  z-index: 10 !important;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .about-container4 {
    flex-direction: row;
    align-items: flex-start;
    max-width: 30%;
  }

  .card {
    width: 90%;
  }

}


.text {
  padding: 2px 16px;
}

.card1 {}

.card2 {
  border-top: 6px solid #bc1c1c;
  height: 125px;
}

.adv {
  color: #ffffff;
  margin-top: 0;
}

.fash {
  color: #bc1c1c;
  margin-top: 0;
}

.cook {
  position: absolute;
  color: #145b09;
  margin-top: -170px;
}

.pic {
  margin-top: -145px;
}

.food {
  width: 200px;
  height: auto;
  border-bottom: 6px solid #145b09;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

//////////  SECTION 3  //////////////

.form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width:100%;
}

.formtitle {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
  text-align: start;
}

.formtitle span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.input {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input2{
 width: 90%;
  height: 100px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  text-align: start;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px;
}

.button-log {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

.button-log:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.button-confirm {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}
