.header {
  background-color: #000000;
  color: #fff;
  border: 20px solid #000000;
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.tabs ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.tabs li {
  margin: 0 auto;
  cursor: pointer;
  flex-shrink: 1;
  flex-direction: row;
}

.tabs a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease;
}

.tabs a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ff6347;
  /* Hover color */
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.tabs a:hover {
  color: #ff6347;
  /* Hover color */
}

.tabs a:hover::after {
  width: 100%;
}

.tabs a.active{
  color: #ff6347;
  /* Hover color */
  
}


////////////////////////////////////////////////////SECTION 2//////////////////////////////////////////////


.titlecontainer {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  margin-top: 50px;
  background-color: #ffffff00;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // text-align: center;
  padding-top: 12%;
  padding-left: 10%;
  padding-bottom: 10%;
}

.animated-title {
  font-size: 2.5rem;
  color: #efe7e7;
  animation: fadeIn 2s ease-in-out;

}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.titlecontent {
  margin-top: 80px;
  animation: fadeIn 3s ease-in-out;
}

.tilecontent p {
  font-size: 1.2rem;
  color: #f9f5f5;
  line-height: 1.6;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .titlecontainer {
    width: 90%;
  }

  .animated-title {
    font-size: 2rem;
  }

  .titlecontent p {
    font-size: 1rem;
  }

}

@media (max-width: 480px) {
  .titlecontainer {
    width: 95%;
  }

  .animated-title {
    font-size: 1.1rem;
  }

  .titlecontent p {
    font-size: 0.6rem;
  }
}

////////////////////////////////////////////////////SECTION 2//////////////////////////////////////////////
#typing-animation {
  position: relative;
  // font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white;
  /* Cursor */
  animation: typing 3s steps(40, end), blink-cursor 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-cursor {

  from,
  to {
    border-color: transparent;
    /* Hide cursor */
  }

  50% {
    border-color: rgba(255, 255, 255, 0);
    /* Show cursor */
  }
}

////////////////////////////////////////////////////SECTION 2//////////////////////////////////////////////

.section {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #1a1a1a;
  color: #fff;
  border-bottom: 1px solid #333;
}

.section2 {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 400px;
  font-size: 24px;
  background-color: #1a1a1a;
  color: #fff;
  border-bottom: 1px solid #333;
}

.section4 {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #1a1a1a;
  color: #fff;
  border-bottom: 1px solid #333;
}

/* Reset some default styles */
/* Make the container responsive */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  /* Adjust as needed */
  margin-top: -20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5),
    0 0 0 2px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 0.1) inset;
  margin-left: 12px;
  margin-right: 12px;
}

/* Style the image section */
.image-section {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  align-content: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* Optional: Adds rounded corners */
}

/* Style the about section */
.about-section {
  width: 100%;
  text-align: left;
  margin-top: 20px;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ff6347;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.5;
  color: #bcbcbc;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .image-section {
    flex: 1;
    margin-right: 20px;
    margin-top: 12%;
  }

  .about-section {
    flex: 2;
    text-align: left;
    margin-top: 0;
  }
}

////////////////////////////////////////////////////SECTION 2//////////////////////////////////////////////

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #ffffff;
  max-width: 425px;
  margin-top: -20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #efe7e722;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 20px;
  font-size: 1rem;
}


@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .about-section {
    flex: 1;
    text-align: left;
    margin-top: 0;
  }

}

.d-flex{
  display: flex;
}

.ul{
  list-style:none;
}