<!-- header.component.html -->
<header class="header">
    <nav class="tabs">
        <ul>
            <li *ngFor="let tab of tabs" (click)="scrollToSection(tab.id)">
                <a>{{ tab.label }}</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Sections to scroll to -->
<!-- <section id="home" class="section">Home Section</section>
<section id="about" class="section">About Section</section>
<section id="services" class="section">Services Section</section>
<section id="contact" class="section">Contact Section</section> -->

<section id="home">
    <app-home [backgroundImage]="'assets/image1.jpg'">
        <h2 class="typing-effect-header">ANKUSH NEELAKANT SONAR</h2>
    </app-home>
</section>

<section id="about">
    <div class="section">
        <!-- <app-card class="card1"></app-card>
        <app-card class="card2"></app-card> -->
    </div>
</section>

<section id="services">
    <app-home [backgroundImage]="'assets/image1.jpg'">
        <h1>Another Parallax Section</h1>
        <p>Keep scrolling to see more.</p>
    </app-home>
</section>

<section id="contact">
    <div class="section4">
        <div class="container" style="margin-top: 100px;">
            <div class="image-section">
                <img src="assets/download.png" alt="Sample Image">
            </div>
            <div class="about-section">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque leo a libero tincidunt, eu fermentum justo tincidunt. Vivamus lacinia, nisi id aliquet tincidunt, nunc nisl tincidunt nunc, nec tincidunt nunc nisl nec nunc.</p>
            </div>
        </div>
        <div class="container" style="margin-top: 50px;">
            <div class="image-section">
                <img src="assets/your-image.jpg" alt="Sample Image">
            </div>
            <div class="about-section">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque leo a libero tincidunt, eu fermentum justo tincidunt. Vivamus lacinia, nisi id aliquet tincidunt, nunc nisl tincidunt nunc, nec tincidunt nunc nisl nec nunc.</p>
            </div>
        </div>
        <div class="container" style="margin-top: 50px;">
            <div class="image-section" >
                <img src="your-image.jpg" alt="Sample Image">
            </div>
            <div class="about-section">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque leo a libero tincidunt, eu fermentum justo tincidunt. Vivamus lacinia, nisi id aliquet tincidunt, nunc nisl tincidunt nunc, nec tincidunt nunc nisl nec nunc.</p>
            </div>
        </div>
    </div>
</section>