<!-- <div class="keyboard" *ngFor="let key of keys">
    <span class="key">{{key}}</span> -->
    <!-- <span class="key">K</span>
    <span class="key">E</span>
    <span class="key">Y</span>
    <span class="key">B</span>
    <span class="key">O</span>
    <span class="key">A</span>
    <span class="key">R</span>
    <span class="key">D</span> -->
<!-- </div> -->

<div class="keyboard" *ngIf="title=='about'">
    <span class="key">A</span>
    <span class="key">B</span>
    <span class="key">O</span>
    <span class="key">U</span>
    <span class="key">T</span>
</div>

<div class="keyboard" *ngIf="title=='project'">
    <span class="key">P</span>
    <span class="key">R</span>
    <span class="key">O</span>
    <span class="key">J</span>
    <span class="key">E</span>
    <span class="key">C</span>
    <span class="key">T</span>
</div>

<div class="keyboard" *ngIf="title=='exper'">
    <span class="key">C</span>
    <span class="key">A</span>
    <span class="key">R</span>
    <span class="key">E</span>
    <span class="key">E</span>
    <span class="key">R</span>
</div>