.parallax-section {
    height: 100vh; /* Full viewport height */
    background-attachment: fixed; /* Creates the parallax effect */
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    border: black;
    display: flex;
    justify-content: left;
    color: white;
    flex-wrap: nowrap;
    // align-items: center;
    // padding-top: 18px;
}

// @media (min-width: 768px) {
//     .parallax-section {
//         background-image: url("assets/ankush_snr");
//     }
// }

.parallax-content {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .parallax-section {
        justify-content:  center;
    }
  }
  
  @media (max-width: 424px) {
    .parallax-section {
        justify-content: center;
    }
  }
  