.parallax-section {
    height: 100vh; /* Full viewport height */
    background-attachment: fixed; /* Creates the parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    color: white;
    flex-wrap: nowrap;
    align-items: center;
}

.parallax-content {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .parallax-section {
        justify-content:  center;
    }
  }
  
  @media (max-width: 424px) {
    .parallax-section {
        justify-content: center;
    }
  }
  