/* You can add global styles to this file, and also import other style files */
/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
background-color: #000000;
}

@media (min-width: 768px) {
  .body {
   background-image: url("assets/image1-rotate.jpg");
  }
}

  
.btn-shine{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 12px 48px;
    color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine{
  0%{
    background-position: 0;
  }
  60%{
    background-position: 180px;
  }
  100%{
    background-position: 180px;
  }
}

/* Content Section */
.content-section {
    padding: 50px 20px;
    background-color: #616161;
    text-align: center;
}

.boton-elegante {
  padding: 15px 30px;
  border: 2px solid #ff6347;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  margin-right: 6px;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #f13e3e;
  background: #ef0d0d;
}

@media (max-width: 768px) {
  .boton-elegante {
    width: 30%;
    height: 10%;
    font-size: 1.2rem;
    justify-content: center;
    padding: 12;
  }
  
}

@media (max-width: 480px) {
  .boton-elegante {
    width: 35%;
    height: 10%;
    font-size: 0.6rem;
    justify-content: center;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .typing-effect-header {
    margin-top: 300px;
  }
}


.titlecontainer {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.animated-title {
  font-size: 2.5rem;
  color: #333;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.titlecontent {
  margin-top: 20px;
}

.tilecontent p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
}

/* Responsive design */
@media (max-width: 768px) {
  .titlecontainer {
      width: 90%;
  }

  .animated-title {
      font-size: 2rem;
  }

  .titlecontent p {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .titlecontainer {
      width: 95%;
  }

  .animated-title {
      font-size: 1.5rem;
  }

  .titlecontent p {
      font-size: 0.9rem;
  }
}

footer {
  // background-color: #333; /* Dark background */
  color: #fff; /* White text */
  text-align: center;
  // padding: 20px 0;
  // border-top: 1px solid #555; /* Optional: Add a top border */
  // background-image: url("assets/footer.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // position: sticky;
  // bottom: 0;
}

.footer-icons {
  display: flex;
  flex-wrap: wrap;
  // justify-content: right;
  justify-content: center;
  gap: 15%; /* Space between icons */
  margin-right: 12px;
}

.footer-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px; /* Size of the circle */
  height: 100px; /* Size of the circle */
  background-color: #444; /* Circle background color */
  color: #fff; /* Icon color */
  font-size: 50px; /* Icon size */
  border-radius: 50%; /* Makes it circular */
  text-decoration: none; /* Removes underline */
  transition: background-color 0.3s ease, color 0.3s ease;
  // padding: 20%;
}

.footer-icons a:hover {
  background-color:#ff6347;; /* Hover background color */
  color: #fff; /* Hover icon color */
  visibility: visible;
}

.wrapicon {
  margin-top: 16px;
  width: 50%;
  display: flex;
  // flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  // text-align: center;
  flex-direction: column;
}


.tooltip {
  top: 20px;
  left: 40%;
  color: #fff;
  padding: 6px 10px;
  visibility: visible;
  font-size: 14px;
  text-align: center;
  justify-content: center;
}


@media (min-width: 768px) {
.wrapicon {
  margin-top: 16px;
  width: 30%;
  min-width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80px; /* Size of the circle */
  height: 80px; /* Size of the circle */
  background-color: #444; /* Circle background color */
  color: #fff; /* Icon color */
  font-size: 50px; /* Icon size */
  border-radius: 50%; /* Makes it circular */
  text-decoration: none; /* Removes underline */
  transition: background-color 0.3s ease, color 0.3s ease;
  // padding: 20%;
}

.footer-icons {
  display: flex;
  // flex-wrap: nowrap;
  // justify-content: right;
  justify-content: center;
  gap: 12%; /* Space between icons */
  margin-right: 12px;
}

.footer-icons {
  display: flex;
  flex-wrap: nowrap;
  // justify-content: right;
  justify-content: center;
  gap: 15%; /* Space between icons */
  margin-right: 12px;
}

}