<div class="app">
    <div class="tag-list">
      <div class="loop-slider" style="--duration:15951ms; --direction:normal;">
        <div class="inner">
          <div class="tag"><span>#</span> Python</div>
          <div class="tag"><span>#</span> Java</div>
          <div class="tag"><span>#</span> C++</div>
          <div class="tag"><span>#</span> JavaScript</div>
          <div class="tag"><span>#</span> TypeScript</div>
          <!-- duplicated content -->
          <div class="tag"><span>#</span> Python</div>
          <div class="tag"><span>#</span> Java</div>
          <div class="tag"><span>#</span> C++</div>
          <div class="tag"><span>#</span> JavaScript</div>
          <div class="tag"><span>#</span> TypeScript</div>
        </div>
      </div>
      <div class="loop-slider" style="--duration:19260ms; --direction:reverse;">
        <div class="inner">
          <div class="tag"><span>#</span> webdev</div>
          <div class="tag"><span>#</span> Bootstrap</div>
          <div class="tag"><span>#</span> HTML</div>
          <div class="tag"><span>#</span> CSS</div>
          <div class="tag"><span>#</span> Tailwind</div>
          <!-- duplicated content -->
          <div class="tag"><span>#</span> webdev</div>
          <div class="tag"><span>#</span> Bootstrap</div>
          <div class="tag"><span>#</span> HTML</div>
          <div class="tag"><span>#</span> CSS</div>
          <div class="tag"><span>#</span> Tailwind</div>
        </div>
      </div>
      <div class="loop-slider" style="--duration:10449ms; --direction:normal;">
        <div class="inner">
          <div class="tag"><span>#</span> Animation</div>
          <div class="tag"><span>#</span> Angular</div>
          <div class="tag"><span>#</span> React</div>
          <div class="tag"><span>#</span> RxJS</div>
          <div class="tag"><span>#</span> GSAP</div>
          <!-- duplicated content -->
          <div class="tag"><span>#</span> Animation</div>
          <div class="tag"><span>#</span> Angular</div>
          <div class="tag"><span>#</span> React</div>
          <div class="tag"><span>#</span> RxJS</div>
          <div class="tag"><span>#</span> GSAP</div>
        </div>
      </div>
      <div class="loop-slider" style="--duration:16638ms; --direction:reverse;">
        <div class="inner">
          <div class="tag"><span>#</span> Jenkins</div>
          <div class="tag"><span>#</span> GIT</div>
          <div class="tag"><span>#</span> GITHUB</div>
          <div class="tag"><span>#</span> Sonar Qube</div>
          <div class="tag"><span>#</span> Jira</div>
          <!-- duplicated content -->
          <div class="tag"><span>#</span> Jenkins</div>
          <div class="tag"><span>#</span> GIT</div>
          <div class="tag"><span>#</span> GITHUB</div>
          <div class="tag"><span>#</span> Sonar Qube</div>
          <div class="tag"><span>#</span> Jira</div>
        </div>
      </div>
      <div class="loop-slider" style="--duration:15936ms; --direction:normal;">
        <div class="inner">
          <div class="tag"><span>#</span> Eclipse</div>
          <div class="tag"><span>#</span> VS</div>
          <div class="tag"><span>#</span> MySQL</div>
          <div class="tag"><span>#</span> MangoDB</div>
          <div class="tag"><span>#</span> SVN</div>
          <!-- duplicated content -->
          <div class="tag"><span>#</span> Eclipse</div>
          <div class="tag"><span>#</span> VS</div>
          <div class="tag"><span>#</span> MySQL</div>
          <div class="tag"><span>#</span> MangoDB</div>
          <div class="tag"><span>#</span> SVN</div>
        </div>
      </div>
      <div class="fade"></div>
    </div>
  </div>